name: Phantom

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  CodeAnalysis:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: BackEnd
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Set Up Python env
        uses: actions/setup-python@v4
        with:
          python-version: 3.11
      - name: Setup JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: 17
      - name: Install tests dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install pytest pytest-cov
      - name: flake8 lint
        uses: py-actions/flake8@v2
      - name: Scan dependencies with Trivy
        uses: aquasecurity/trivy-action@master
        with:
          scan-type: fs
          scan-ref: '.'
          severity: HIGH,CRITICAL
          ignore-unfixed: true
          exit-code: 1
      - name: Run tests with coverage
        run: |
          pytest --cov=Phantom --cov-report=xml
      - name: Normalize coverage.xml sources
        run: |
          if grep -q "$GITHUB_WORKSPACE" coverage.xml; then
            sed -i "s|$GITHUB_WORKSPACE/||g" coverage.xml || true
            head -n 40 coverage.xml || true
          fi
      - name: SonarCloud Analysis
        uses: SonarSource/sonarcloud-github-action@v2
        with:
          projectBaseDir: .
          args: >
            -Dsonar.python.coverage.reportPaths=BackEnd/coverage.xml
            -Dsonar.verbose=true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

  SecurityAnalysis:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: BackEnd
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Get Changed File
        id: changed-files
        uses: tj-actions/changed-files@v46.0.1
        with:
          separator: ','
      - name: Vorpal with review Dog
        if: ${{ steps.changed-files.outputs.any_changed == 'true' }} 
        uses: checkmarx/vorpal-reviewdog-github-action@v1.0.0
        with:
          source_path: "${{ steps.changed-files.outputs.all_changed_files }}"
          filter_mode: file
          github_token: ${{ secrets.GITHUB_TOKEN }}
          reporter: github-pr-check
          level: error
          fail_on_error: false

