name: Publish Release

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: read
  packages: write
jobs:
    build:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Replace value in JSON
              env:
                FILE_DESTINATION: vars.FILE_DESTINATION
                BDD_HOST: vars.BDD_HOST
                BDD_DATABASE: vars.BDD_DATABASE
                BDD_USER: secrets.BDD_USER
                BDD_PASSWORD: secrets.BDD_PASSWORD
                BDD_PORT: vars.BDD_PORT

              run: |
                    python3 Backend/replace_value.py
            - name: Show modified config
              run: cat Backend/variables.json
            

